**/.DS_Store
**/myvenv
**/build/*
**/daqhats.egg-info/*
dist/*
docs/
docsource/
install.sh
LICENSE
pyproject.toml
README.md
setup.cfg
setup.py
uninstall.sh
version_history.txt
examples/c/
.DS_Store
*.code-workspace